@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
:root{
    --font-1:'Poppins', sans-serif;
    --clr-font-100: #8ba6ad;
}
.font-custom-1{
    font-family: var(--font-1);
    font-size: 1.35rem;
}
.active{
    background-color:  var(--clr-font-100) !important;
}
.clr-font-1{
    color: var(--clr-font-100);
}