@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');
*{
    font-family: 'Inter', sans-serif;
}
body{
    overflow-x: hidden;
}
.navbar{
    background-color: black;
    color: white;
}
.opcionMenuLat:hover{
    color: rgb(197, 196, 196);
    cursor: pointer;
}
li{
    list-style-type: none;
}
/*
.listaOpciones{
    margin-top: 25%;
    margin-bottom: 25%;
}
*/
.opcion{
    display: none;
}